.customForm .form-item {
    margin-bottom: 15px;
}

.customForm .form-item label {
    display: block;
}

.customForm .form-item,.has-error input {
    border-color: red;
}

.customForm .form-item .error-message {
    display: block;
}
.customForm .form-item .error-message .error-item {
    color: red;
    font-size: 10px;
    display: block;
}
